<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <!--
    Add here your custom configuration which will be merged with the default configuration of ivy
    See http://logging.apache.org/log4j/2.x/manual/configuration.html#CompositeConfiguration

    For more information see: @engine.guide.url@/monitoring/logging.html
    And the default logging file: @engine.guide.url@/configuration/files/log4j2-xml.html
  -->

  <Appenders>
    <RollingRandomAccessFile name="AIlog" fileName="logs/ai.log" filePattern="logs/ai-%d{yyyy-MM-dd}.log.gz" ignoreExceptions="false">
      <PatternLayout pattern="${pattern}" />
      <TimeBasedTriggeringPolicy />
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <Logger name="dev.langchain4j.http.client.log.LoggingHttpClient" level="trace" includeLocation="false" additivity="false">
      <AppenderRef ref="AIlog" />
      <AppenderRef ref="ConsoleLog" />
    </Logger>
  </Loggers>
</Configuration>

