name: E2E-Build

on:
  schedule:
    - cron:  '0 1 * * 0' # 1 AM on Sunday
  workflow_dispatch:

permissions:
  contents: read
  checks: write

jobs:
  build:
    uses: axonivy-market/github-workflows/.github/workflows/ci.yml@v6
    with:
      mvnArgs: -P e2e.test 
    secrets:
      mvnArgs: -DOPEN_AI_API_KEY=${{ secrets.OPEN_AI_API_KEY }}
